body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
      'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.table {
   --bs-table-bg: transparent;
}

.highlightedrow {
   background-color: bisque;
}

.blue-row {
   background-color: rgb(116, 206, 241);
}

.green-row {
   background-color: rgb(151, 242, 151);
}
.flex-container {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
 }

